h1{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: underline;
}
p{
    background-color: thistle;
    text-align: center;
    margin: 0px 50px 0px 50px;
}
h2{
    background-color: seagreen;
    color: red;
    text-align: center;
    text-decoration: overline;
    line-height: 100px;
}